.container-fluid {
    padding: 0;
}
.header {
    text-align: center;
    height: 100px;
    margin: auto;
    padding-top: 10px;
    font-size:40px;
    background-color: #343a40;
}
.footer {
    color: #FFFFFF;
    text-align: center;
    height: 100px;
    margin: auto;
    padding-top: 10px;
    font-size:40px;
    background-color: #343a40;
}
.content {
    margin: 100px;
}
body {
    background-color: #E0E0E0;
}
.navbar {
    margin-top:2px;
    color:white;
}
.signup-button {
    border:1px;
    border-color: #343a40;
    border-style: groove ;
    align-self: center;
    background-color: #E0E0E0;
    margin-top: 20px;
}